.DS_Store
.vscode
.idea
.pytest_cache
.venv
.env*
mapping_validation_report_*.json
__pycache__/
/lingomap_env/
/lingomap_db/
*/lingomap_db/
# Ignore all report files
*_report.json
FDIC_Insured_Banks.csv
SubmissionManifest.txt
temp_generated_rules.ttl
